<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Football Season Simulator</title>
  </head>
  <body>
    <h1 class="text-center">Football DB</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">League</th>
          <th scope="col">Country</th>
          <!-- Add more headers as needed -->
        </tr>
      </thead>
    <tbody>
      <% leagues.forEach(function(league, index) { %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td>
          <a
            href="/teams?id=<%= league.id %>"
            class="link-offset-2 link-underline link-underline-opacity-0">
            <div class="row">
    
              <div class="col-3">
                  <%= league.name %>
              </div>
    
            </div>
          </a>
        </td>
        <td>
          <%= league.country %>
        </td>
        <!-- Add more cells as needed -->
      </tr>
      <% }); %>
    </tbody>
    </table>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
